@using TeamsMasterDetail.Application.Extensions;
@using TeamsMasterDetail.Application.Controllers;

@model TeamsMasterDetail.Domain.Entities.Team

<h2>Insert New Team</h2>

<form method="post">
    <table border="1" cellpadding="10">
        <tr>
            <td>@nameof(Model.Name) :</td>
            <td>
                <input type="text"
                       asp-for="Name" />
            </td>
        </tr>
        <tr>
            <td>@nameof(Model.Description) :</td>
            <td>
                <input type="text"
                       asp-for="Description" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Save"
                       asp-controller="@typeof(TeamController).GetControllerName()"
                       asp-action="@nameof(TeamController.InsertSave)" />

                <input type="submit"
                       value="Cancel"
                       asp-controller="@typeof(TeamController).GetControllerName()"
                       asp-action="@nameof(TeamController.CancelEntry)" />
            </td>
        </tr>
    </table>
</form>